* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4px;
}


.bgmusic {
  text-align: center;
  position: absolute;
  bottom: 0;
}

.reset-button {
  visibility: hidden;
}

header {
  font-size: 4vmin;
  color: darkgrey;
  letter-spacing: 4vmin;
  margin-top: 50px;
  margin-bottom: 25px;
}

h1 {
  color: grey;
  font-size: 3vmin;
}

img {
  height: 100%;
  width: 100%;
}

#board {
  display: grid;
  grid-template-columns: repeat(8, 4vmin);
  grid-template-rows: repeat(8, 4vmin);
  gap: 0.2vmin;
}

#board>div {
  border: 0.1vmin solid grey;
  box-shadow: 1px 2px 2px grey;
  text-align: center;
  font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#board>div:hover {
  transform: scale(1.1);
  transition: transform 150ms ease-in;
}

#message {
  color: rgb(240, 235, 235);
  padding: 2vmin;
  margin-top: 3vmin;
  border-radius: 10px;
  font-size: 25px;
}

button {
  margin-top: 4vmin;
  padding: 2vmin;
  font-size: 2vmin;
  border-radius: 4vmin;
  border: 0.1vmin solid grey;
  color: grey;
}

button:hover {
  color: white;
  background-color: darkgrey;
}

p {
  color: grey;
}